<h1>All restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <div class="container">
    <div class = "row">
      <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
    </div>
  </div>
</ul>

